html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

.Bmw-Home-Container {
    display: flex;
    padding-right: 30px;
}

.Bmw-Logo-Img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

.Home-RR-Button {
    position: absolute;
    left: 6%;
    top: 18%;
    width: 250px;
    height: 50px;
    border: none;
    background-color: white;
    padding-left: 45px;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    transition: 0.3s;
}

    .Home-RR-Button:hover {
        background-color: #0062FF;
        color: white;
    }

.Text-Home-RR-Img {
    position: absolute;
    top: 13%;
    left: 6%;
    color: white;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.Text-Home-RR-Img-Top {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn-Motorcycle {
    transition: 0.1s;
    width: 110px;
    display: inline-block;
}

    .btn-Motorcycle:hover {
        font-weight: bold;
        border-color: transparent;
    }

.RegisterLogin {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 100px;
    padding-top: 70px;
    font-size: 62px;
    position: relative;
}

.LoginRegister {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 100px;
    font-size: 33px;
    padding-bottom: 50px;
    position: relative;
}

.Inside-Container-Login {
    color: white;
    border-radius: 30px;
}

.Logo-M {
    position: absolute;
    height: auto;
    width: 100%;
}

.container-Register {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    background-color: white;
}

.Login {
    position: absolute;
    right: 10%;
    top: 33%;
    text-decoration: none;
    color: white;
    font-size: 42px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    .Login:hover {
        color: #0062FF;
    }

.Register {
    position: relative;
    top: 46%;
    right: 45%;
    text-decoration: none;
    color: white;
    font-size: 42px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    .Register:hover {
        color: #0062FF;
    }

.FotterDiv {
    display: flex;
    background-color: #2B2E33;
    font-size: 40px;
    padding-bottom: 300px;
}

.contacts-button {
    position: relative;
    left: 56%;
    top: 90px;
    width: 350px;
    height: 50px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 10px;
}

    .contacts-button:hover {
        background-color: #0062FF;
        color: white;
    }

.Text-Footer {
    position: relative;
    top: 250px;
    font-size: 20px;
    right: 20%;
}

.Icon {
    padding-right: 15px;
}

.Instagram {
    text-decoration: none;
    position: relative;
    left: 12%;
    top: 90px;
    font-size: 32px;
    width: 450px;
    height: 50px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 10px;
}

    .Instagram:hover {
        color: #DC00B1
    }

.Facebook {
    text-decoration: none;
    position: relative;
    left: 10%;
    top: 90px;
    font-size: 32px;
    width: 380px;
    height: 50px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.BlackBoxButtons {
    height: 100px;
    display: flex;
    background-color: #070709;
}

.BlackBoxMenuButton {
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding-top: 20px;
    padding-left: 80px;
}

.material-icons {
    padding-right: 10px;
}

.Cloth-container {
    display: flex;
    padding: 70px;
    background-color: #2B2E33;
}

.text-cloth-boy {
    font-size: 40px;
    color: black;
    padding-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

.text-cloth-boy-p {
    font-size: 23px;
    color: black;
    padding-left: 28px;
    text-decoration: none;
    cursor: pointer;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Cloth-boy-container-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    height: 205px;
    width: 590px;
    position: absolute;
    top: 57%;
    left: 70px;
}

.cloth-boy-img {
    width: 900px;
    padding-right: 25px;
    position: relative;
}

.Login-Menu:hover {
    font-weight: bold;
}

.cloth-boy-img2 {
    width: 900px;
    height: 705px;
}

.Cloth-boy-container-text2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    height: 189px;
    width: 630px;
    position: absolute;
    top: 58%;
}

.accsesoars-container {
    display: flex;
}

.text-accsesoars-container {
    padding-top: 100px
}

.accsesoars-text-1 {
    font-size: 67px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.accsesoars-text-2 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.accsesoars-text-3 {
    font-size: 20px;
}

.accsesoaries-button {
    text-decoration: none;
    font-size: 50px;
    padding: 20px;
    position: absolute;
    top: 80%;
    left: 80%;
    background-color: black;
    color: white;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    .accsesoaries-button:hover {
        background-color: blue;
        color: white;
    }

.MyBuy {
    padding: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    .MyBuy:hover {
        font-weight: bold;
        color: black;
    }

.Mini-menu-text {
    text-decoration: none;
    color: black;
    font-size: 25px;
    cursor: pointer;
    transition: 0.1s;
    border: 2px solid transparent;
}

    .Mini-menu-text:hover {
        font-weight: bold;
        color: black;
        border-color: transparent;
    }


.Motorcycles-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.photo-of-motorcycle {
    width: 340px;
    height: 250px;
}

.Button-Find {
    text-decoration: none;
    width: 50px;
    height: 20px;
    border: solid;
    border-width: thin;
    border-color: black;
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 15px;
}

    .Button-Find:hover {
        background-color: #0066B1;
        color: white;
        border-color: white;
    }

.Button-Find2 {
    text-decoration: none;
    width: 50px;
    height: 20px;
    border: solid;
    border-width: thin;
    border-color: black;
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 15px;
}

    .Button-Find2:hover {
        background-color: yellow;
        color: black;
        border-color: white;
    }

.Button-Find3 {
    text-decoration: none;
    width: 150px;
    height: 40px;
    border: solid;
    border-width: thin;
    border-color: black;
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 15px;
}

    .Button-Find3:hover {
        background-color: red;
        color: white;
        border-color: white;
    }

.Card {
    width: 35px;
    height: 35px;
}

.DetailsText {
    font-size: 20px;
}

.containerTextDetails {
    padding-top: 100px;
    padding-left: 250px;
}

.Hr {
    position: absolute;
    left: 23%;
    top: 38%;
}

.CC {
    position: absolute;
    left: 23%;
    top: 46%;
}

.Kg {
    position: absolute;
    left: 72%;
    top: 46%;
}

.TankCap {
    position: absolute;
    left: 70%;
    top: 38%;
}

.ImgEngine {
    padding-top: 50px;
}

.FlagPhoto {
    height: auto;
    width: 200px;
}

.ContainerDetailsData {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 100px;
}

.TextData {
    text-align: center;
}

.H1Tech {
    padding-right: 30px;
    padding-bottom: 30px;
}

.p-details {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.ButtonPrice {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: black;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

    .ButtonPrice:hover {
        background-color: #0062FF;
        color: white;
        border: none;
    }

.PriceContainer {
    margin-bottom: 100px;
    padding-left: 810px;
    display: flex;
}

.priceText {
    padding-right: 30px;
}
























.login-Main-Container {
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    padding-bottom: 1000px;
    padding-top: 100px;
}

.login-box {
    position: absolute;
    top: 37%;
    left: 50%;
    width: 550px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .login-box .user-box {
        position: relative;
    }

        .login-box .user-box input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            color: #fff;
            margin-bottom: 60px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 18px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -55px;
            left: 0;
            color: #03e9f4;
            font-size: 18px;
        }

    .login-box form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
    }

    .login-box a:hover {
        background: #03e9f4;
        color: black;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4, 0 0 20px #03e9f4, 0 0 20px #03e9f4, 0 0 10px #03e9f4;
    }

    .login-box a span {
        position: absolute;
        display: block;
    }

        .login-box a span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #03e9f4);
            animation: btn-anim1 1s linear infinite;
        }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}


.ButtonLog {
    background-color: #0D1520;
    border: none;
    color: #03E9F4;
}

    .ButtonLog:hover {
        color: black;
    }

.ButtonReg {
    background-color: #0F1723;
    border: none;
    color: #03E9F4;
    background-color: #101A26;
}

    .ButtonReg:hover {
        color: black;
    }

.Add-Motorcycle-Button {
    text-decoration: none;
    border: solid;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: 0.7s;
    color: white;
    background-color: black;
}

    .Add-Motorcycle-Button:hover {
        color: white;
        background-color: lawngreen;
        border-radius: 30px;
    }

.text-danger1 {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    color: #ff0000;
    font-size: 18px;
}

.aboutUsP {
    font-size: 26px;
}

.btn-for-Us {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: black;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

    .btn-for-Us:hover {
        background-color: #0062FF;
        color: white;
        border: none;
    }

.Add-Button-Submit {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: black;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

    .Add-Button-Submit:hover {
        background-color: white;
        color: black;
        box-shadow: 10px 15px 15px 2px black;
    }


.close-container {
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    cursor: pointer;
    margin-right: 150px;
}

.leftright {
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}

.rightleft {
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: black;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}

.labelText {
    color: red;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
    opacity: 0;
}

.close {
    margin: 60px 0 0 5px;
    position: absolute;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: red;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: red;
}

.close-container:hover label {
    opacity: 1;
    margin-left: 90px;
}

.infoMotor {
    border-color: black;
    border: solid;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.Button-Force {
    margin-top: 20px;
    font-size: 24px;
    width: 150px;
    padding: 2px;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    .Button-Force:hover {
        color: white;
        background-color: #0066B1;
        box-shadow: 5px 5px 10px 1px black;
    }


@media (max-width: 768px) {
    .Mini-menu-text {
        display: block;
        width: 100%;
        padding: 10px;
        margin-left: 170px;
    }

    .Text-Footer {
        height: 500px;
        padding-right: 10px;
        font-size: 18px;
    }

    .contacts-button {
        position: absolute;
        top: 98%;
        left: 20%;
    }

    .Text-Home-RR-Img {
        position: relative;
        top: -190px;
        font-size: 13px;
    }

    .Text-Home-RR-Img-Top {
        position: relative;
        top: 50px;
        font-size: 11px;
    }

    .Home-RR-Button {
        position: relative;
        top: -90px;
        height: 23px;
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .RegisterLogin {
        position: relative;
        top: 10px;
        font-size: 16px;
        left: 40px;
        padding:0px;
    }

    .LoginRegister {
        position: relative;
        font-size: 16px;
        padding: 0px;
        left: 40px;
    }
    .Login{
        position:relative;
        top:10px;
        left:10px;
        font-size:22px;
    }
    .Register {
        position: relative;
        top: 10px;
        left: -25px;
        font-size: 22px;
    }
    .cloth-boy-img2{
        width:318px;
        height:auto;
        padding-top:30px;
    }
    .Cloth-boy-container-text2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgba(255, 255, 255, 0.6);
        height: 100px;
        width: 317px;
        top:887px;
        position: absolute;
    }
    .text-cloth-boy{
        font-size:20px;
    }
    .text-cloth-boy-p{
        font-size:14px;
    }
    .Cloth-boy-container-text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgba(255, 255, 255, 0.6);
        height: 100px;
        width: 317px;
        top: 1168px;
        position: absolute;
    }
    .acssesoars-photo{
        width:500px;
    }
    .text-accsesoars-container{
        padding:30px;
    }
    .accsesoars-text-1{
        font-size:60px;
    }
    .accsesoars-text-2 {
        font-size: 30px;
    }
    .accsesoars-text-3 {
        font-size: 18px;
    }
    .accsesoaries-button{
        left:100px;
        top: 70%;
    }
    .paddingPhoneAccsesoars{
        padding-bottom:180px;
    }
    .containerTextDetails {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .Hr{
        top:26%;
        left:30px
    }
    .CC {
        top: 26%;
        right:-220px;
    }
    .Kg {
        top: 30%;
        right: 20px;
    }
    .TankCap {
        top: 30%;
        left: 30px
    }
    .FlagPhoto{
        width:100px;
        height:100px;
    }
}
