html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.Bmw-Home-Container {
    display: flex;
    padding-right: 30px;
}

.Bmw-Logo-Img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

.Home-RR-Button {
    position: absolute;
    left:6%;
    top:58%;
    width: 250px;
    height:50px;
    border:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:23px;
    transition:0.3s;
}
    .Home-RR-Button:hover {
        background-color: #0062FF;
        color: white;
    }

.Text-Home-RR-Img{
    position:absolute;
    top:40%;
    left:6%;
    color:white;
    font-size:27px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.Text-Home-RR-Img-Top {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}