
<div class="container-fluid p-5">
    <div class="row d-flex">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h1 class="display-1 fw-bold">Добре дошли <br /> в светът на <br /> BMW</h1>
            <p class="display-5">Открийте страстта и иновациите зад всяка машина, докато<br /> изследвате наследството и бъдещето на нашето BMW наследство.</p>
        </div>

        <div class="col-md-4">
            <img class="img-fluid" src="~/img/GirlOnCar.jpeg" />
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row p-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="display-2 fw-bold">Нашият ангажимент</h1>
            <p class="display-6">
                Създаване на изключителни изживявания за нашите <br /> клиенти и разширяване на границите на автомобилното съвършенство.
            </p>
        </div>
    </div>

    <div class="row d-flex p-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <h1 class="display-4 p-4 fw-bold">Водещ клас</h1>
            <p class="aboutUsP">Насладете се на несравним лукс и производителност във всяко превозно средство, определяйки индустриалните стандарти от десетилетия.</p>
            <h1 class="display-4 p-4 fw-bold">Устойчиево шофиране</h1>
            <p class="aboutUsP">DОтдаденост на екологичните иновации, пионерски ефективни, но мощни електрически превозни средства.</p>
            <h1 class="display-4 p-4 fw-bold">Грижа за клиента</h1>
            <p class="aboutUsP">Нашият консиерж подход към обслужването на клиентите гарантира персонализирано и безпроблемно пътуване до собствеността.</p>

        </div>

        <div class="col-lg-6 p-5">
            <img class="img-fluid" src="~/img/BMWLAPTOP.jpeg" />
        </div>
    </div>

    <div class="row d-flex">
        <div class="col-md-5"></div>
        <div class="col-md-4 p-5">
            <a class="btn-for-Us" asp-action="Index" asp-controller="Motorcycle">Открий нашите модели</a>
        </div>
    </div>

</div>
