@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid m-0 p-0">
    <img class="img-fluid position-relative" alt="S1000RR photo" src="/img/Made-RR.jpg" />
    
    <button class="Home-RR-Button">Открийте Сега</button>
    <h1 class="Text-Home-RR-Img"> <p class="Text-Home-RR-Img-Top">Новият BMW S1000RR</p>НЕКА ПЪТЯТ Е ВАШАТА СЦЕНА</h1>

</div>
