@using Microsoft.AspNetCore.Identity
@using BMW_Final_Project.Infrastructure.Data.IdentityModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            <li>
                <a asp-controller="Motorcycle" asp-action="AllBought" class="nav-link text-dark fw-bold">Поръчки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fw-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей @user.Nickname</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark fw-bold">Изход</button>
                </form>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark Login-Menu" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark Login-Menu" asp-area="Identity" asp-page="/Account/Login">Влизане</a>
        </li>
    }
</ul>