@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-Main-Container container-fluid">
    <div class="login-box">
        <h2>Влизане</h2>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger1"></div>
            <div class="user-box">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" area-required="true">
                <label asp-for="Input.Email" class="form-label">Имейл</label>
                <span asp-validation-for="Input.Email" class="text-danger1"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" area-required="true">
                <label asp-for="Input.Password" class="form-label">Парола</label>
                <span asp-validation-for="Input.Password" class="text-danger1"></span>
            </div>
            <div class="checkbox text-white">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <button class="ButtonLog" id="login-submit" type="submit">
                <a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Влез
                </a>
            </button>

        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
